<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.genuitec.eclipse.ast.deploy.core.runonserver">
<booleanAttribute key="runonserver.exploded" value="true"/>
<stringAttribute key="runonserver.project" value="web1"/>
<stringAttribute key="runonserver.server" value="tomcat7Server"/>
<booleanAttribute key="runoserver.restart" value="true"/>
</launchConfiguration>
